# Refbox
ssl-refbox

# Emacs stuff
\#*

# MAC
*.DS_Store
*.log

# Python
*.pyc
*.ipynb_checkpoint
*__pycache__*
*__pycache__

# Misc
*.dmp
*.pkl
*.vscode
venv/
.venv/

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Sphinx
_build
